* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #747704;
}

.title-super {
  font-weight: 300;
  font-size: 48px;
}

.title-logo {
  margin-top: 10px;
}

.text-muted {
  color: #bcbbbb;
}

hr {
  border: none;
  height: 5px;
  color: #669999;
  background-color: #bcbbbb;
}

header {
  background: 79b4ff;
}
